{% include base_path %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="K.H. Chao">

<title>K.H.</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons/css/academicons.min.css">

<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

<!-- Custom CSS -->
<link href="{{ base_path }}/assets/css/landing-page.css" rel="stylesheet">

<!-- Custom Fonts -->
<script src="https://use.fontawesome.com/071362647b.js"></script>
<link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">

<!-- Custom Logo for Icon Shortcut-->
<link rel="shortcut icon" href="{{ base_path }}/images/kh_logo.png">

<!-- particles.js -->
<!-- <script type="text/javascript" src="js/particles.js"></script> -->
