{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->


<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<div class="{{ include.type | default: "list" }}__item" style=" margin-left:30px;">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}


    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}" tyle="color: #404040; text-decoration: none;">{{ title }}</a> <a href="{{ post.permalink }}" rel="permalink" target=_blank><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.permalink }}" rel="permalink" target=_blank style="color: #404040; text-decoration: none;">{{ title }}</a>
      {% endif %}
    </h2>

    {% if post.collection == 'publications' %}
      <p style="font-size:15px"><i class="fa fa-book" aria-hidden="true"></i> &nbsp; <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%b %Y" }} </p>
    {% endif %}
<!--
    <div clss="row" style="display: flex;">
      <div class="column" style="flex: 59%;"> -->

<!-- 
          {% if post.excerpt and site.read_more != 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
          {% elsif post.excerpt and site.read_more == 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
          {% endif %} -->



          {% if post.citation and post.permalink %}
            <p style="font-size:15px; margin-top: -10px;margin-bottom:5px"><i class="fa fa-users" aria-hidden="true"></i> &nbsp; {{ post.authors }}</p>
          {% endif %}
          <!-- {{post.altmetric}} &nbsp; -->
          {{post.license}}

          <!-- btn-outline-primary btn-page-header btn-sm js-cite-modal -->
          {% if post.pdf %}
            <a href="{{post.pdf}}" target="_blank" class="btn btn-outline-primary btn-page-header btn-sm" style="text-decoration: none" data-filename="/publication/journal-article/cite.bib">PDF</a>
          {% endif %}

          {% if post.citation %}

<!-- 
<div class="popup-overlay" id="{{post.permalink}}">
  <div class="popup-content">
    <span class="close-button close-popup-btn">&times;</span>
    <h1 style="margin-top: 10px;">Citation</h1>
    {{post.citation}}
    <br>
    <br>
    <pre>{{post.citationbib}}</pre>
  </div>
</div> -->


<!-- 
<script>
  console.log("button clicked!");
  const showPopupBtns = document.querySelectorAll('.show-popup-btn');
  const closePopupBtns = document.querySelectorAll('.close-popup-btn');
  const popupOverlay = document.getElementById('{{post.permalink}}');

  showPopupBtns.forEach(button => {
  button.addEventListener('click', () => {
  popupOverlay.style.display = 'flex';
  });
  });

  closePopupBtns.forEach(button => {
  button.addEventListener('click', () => {
  popupOverlay.style.display = 'none';
  });
  });
</script> -->




            <a id="test" class="btn btn-outline-primary btn-page-header btn-sm show-popup-btn" style="text-decoration: none" onclick="dosomething('{{post.citation}}', '{{post.citationbib}}')">Cite</a>

            <link rel="stylesheet" type="text/css" href="{{base_path}}/assets/css/jquery.dialogbox.css">

            <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
            <!-- <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" /> -->
            <script src="{{base_path}}/assets/js/jquery.dialogBox.js"></script>



            <style>
              .dialog-ovelay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background-color: rgba(0, 0, 0, 0.50);
                  z-index: 999999
              }
              .dialog-ovelay .dialog {
                  width: 400px;
                  margin: 100px auto 0;
                  background-color: #fff;
                  box-shadow: 0 0 20px rgba(0,0,0,.2);
                  border-radius: 3px;
                  overflow: hidden
              }
              .dialog-ovelay .dialog header {
                  padding: 10px 8px;
                  background-color: #f6f7f9;
                  border-bottom: 1px solid #e5e5e5
              }
              .dialog-ovelay .dialog header h3 {
                  font-size: 14px;
                  margin: 0;
                  color: #555;
                  display: inline-block
              }
              .dialog-ovelay .dialog header .fa-close {
                  float: right;
                  color: #c4c5c7;
                  cursor: pointer;
                  transition: all .5s ease;
                  padding: 0 2px;
                  border-radius: 1px    
              }
              .dialog-ovelay .dialog header .fa-close:hover {
                  color: #b9b9b9
              }
              .dialog-ovelay .dialog header .fa-close:active {
                  box-shadow: 0 0 5px #673AB7;
                  color: #a2a2a2
              }
              .dialog-ovelay .dialog .dialog-msg {
                  padding: 12px 10px
              }
              .dialog-ovelay .dialog .dialog-msg p{
                  margin: 0;
                  font-size: 15px;
                  color: #333
              }
              .dialog-ovelay .dialog footer {
                  border-top: 1px solid #e5e5e5;
                  padding: 8px 10px
              }
              .dialog-ovelay .dialog footer .controls {
                  direction: rtl
              }
              .dialog-ovelay .dialog footer .controls .button {
                  padding: 5px 15px;
                  border-radius: 3px
              }
              .button {
                cursor: pointer
              }
              .button-default {
                  background-color: rgb(248, 248, 248);
                  border: 1px solid rgba(204, 204, 204, 0.5);
                  color: #5D5D5D;
              }
              .button-danger {
                  background-color: #f44336;
                  border: 1px solid #d32f2f;
                  color: #f5f5f5
              }
              .link {
                padding: 5px 10px;
                cursor: pointer
              }
            </style>
            <script>
            function myFunctionXXX(val) {
              var txt;
              if (confirm(val)) {
                txt = "You pressed OK!";
              } else {
                txt = "You pressed Cancel!";
              }
            }
            </script>
            


          {% endif %}

          {% if post.code %}
            <a href="{{post.code}}" target="_blank" class="btn btn-outline-primary btn-page-header btn-sm" style="text-decoration: none" data-filename="/publication/journal-article/cite.bib">Code</a>
          {% endif %}
          
          {% if post.documentation %}
            <a href="{{post.documentation}}" target="_blank" class="btn btn-outline-primary btn-page-header btn-sm" style="text-decoration: none" data-filename="/publication/journal-article/cite.bib">Documentation</a>
          {% endif %}

          {% if post.poster %}
          <a href="{{post.poster}}" target="_blank" class="btn btn-outline-primary btn-page-header btn-sm" style="text-decoration: none" data-filename="/publication/journal-article/cite.bib">Poster</a>
          {% endif %}

          {% if post.slides %}
            <a href="{{post.slides}}" target="_blank" class="btn btn-outline-primary btn-page-header btn-sm" style="text-decoration: none" data-filename="/publication/journal-article/cite.bib">Slides</a>
          {% endif %}





          <!-- [![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT) -->
      <!-- </div>

      <div class="column" style="flex: 3%;">
      </div>

      <div class="column" style="flex: 38%;">
        {{ post.SJR }}
      </div>
    </div> -->


    <!-- <script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script><div class="altmetric-embed" data-badge-type="donut" data-altmetric-id="82484632"></div> -->
  
  




  </article>
</div>
