{% include base_path %}

<div class="masthead" style="background-color:#1c1430">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu" style="background-color:#1c1430">
      <nav id="site-nav" class="greedy-nav" style="background-color:#1c1430; border-color:#1c1430">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg" style="background-color:#1c1430; font-size: 25px;"><img src="{{base_path}}/images/JHU_logo.png" style="height:10px; width: auto;"></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}

            {% if link.title contains 'Photos' %}
              <li class="masthead__menu-item" style="background-color:#1c1430; font-weight: 500;"><a href="{{ domain }}{{ link.url }}" style="color: white;"> <i class="fa fa-camera" aria-hidden="true"></i>  </a></li>
            {% else %}
              <li class="masthead__menu-item" style="background-color:#1c1430; font-weight: 500;"><a href="{{ domain }}{{ link.url }}" style="color: white;">{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden" style="background-color:#1c1430;"></ul>
      </nav>
    </div>
  </div>
</div>
