{% include base_path %}

<div class="masthead" style="background-color:#ededed">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu" style="background-color:#ededed">
      <nav id="site-nav" class="greedy-nav" style="background-color:#ededed">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg" style="background-color:#ededed; font-size: 25px"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% if link.title contains 'Photos' %}
              <li class="masthead__menu-item" style="background-color:#ededed; font-weight: 500;"><a href="{{ domain }}{{ link.url }}"> <i class="fa fa-camera fa-1x" aria-hidden="true"></i>  </a></li>
            {% else %}
              <li class="masthead__menu-item" style="background-color:#ededed; font-weight: 500;"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}

          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
