/* The side navigation menu */
.sidebar_gallery {
    margin: 0;
    padding: 0;
    width: 200px;
    /* position: fixed; */
    height: 100%;
    overflow: auto;
  }
  /* On screens that are less than 700px wide, make the sidebar_gallery into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar_gallery {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar_gallery a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar_gallery a {
      text-align: center;
      float: none;
    }
  }

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
    content: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e);
}