/* The side navigation menu */
.sidebar_gallery {
    margin: 0;
    padding: 0;
    width: 200px;
    /* position: fixed; */
    height: 100%;
    overflow: auto;
  }
  /* On screens that are less than 700px wide, make the sidebar_gallery into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar_gallery {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar_gallery a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar_gallery a {
      text-align: center;
      float: none;
    }
  }