---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% include head/custom_landing_page.html %}
  </head>
  <body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    {% if page.excerpt == "About me"%}
      <div id="particles-js" style="background: linear-gradient(
              rgba(0, 0, 0, 0.85),
              rgba(0, 0, 0, 0.85)
            ),url();">
        <img id="logo_img" src="{{base_path}}/images/JHU_logo.png">
        <div id="particles-header" class="intro-header alt-font">
            <div class="container">
                <div class="intro-message">
                    <h1 id="intro-message-name" class="alt-font">Kuan-Hao Chao</h1>
                    <div class="row" style="display: flex; margin-top: 30px">
                      <div class="column" style="flex: 25%;">
                        <div style="padding: 10px 0;  vertical-align: middle;margin: 0;position: relative;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                          <canvas id="canvas_DNA" class="zdog-canvas" heigh=350 width=100 style="pointer-events: all; z-index:100; margin: auto; display: block; vertical-align: middle;"></canvas>
                        </div>
                      </div>
                      <div class="column" style="flex: 75%;">
                        <h3 id="intro-message-main" class="alt-font" style="margin-top:12px; text-align: left;">Computer Science PhD Student in Computational Biology Group <br>@ Johns Hopkins University</h3>
                        <h4 id="intro-message-advisor" class="alt-font" style=" text-align: left;">Advisor: Steven Salzberg & Mihaela Pertea</h4>
                      </div>
                    </div>
                    <hr class="intro-divider" style="display: flex; align-items: center; text-align: center;">
                </div>
                <div class="column" style="flex: 50%;">
                  <div class="type-wrap">
                    <div id="typed-strings">
                      <span>Typed.js^10 is a <strong>JavaScript</strong> library.</span>
                      <p>It <em>types</em> out sentences.</p>
                      <p>And then deletes them.</p>
                      <p>Try it out!</p>
                    </div>
                    <span id="typed" style="white-space:pre;"></span>
                  </div>
                </div>

                <div class="intro-social">
                  <div class="social-click">
                    <ul class="intro-social-buttons">
                        <li style="display:inline;">
                            <a href="https://www.linkedin.com/in/kuan-hao-chao/" target="_blank" class="btn btn-default social-btn"><i
                                    class="fa fa-linkedin" style="margin-right:5px"></i>  <span class="network-name">linkedin</span></a>
                        </li>

                        <li style="display:inline;">
                            <a href="https://scholar.google.com/citations?user=r7LG-XQAAAAJ&hl=en" target="_blank" class="btn btn-default social-btn"><i class="fa fa-flask" style="margin-right:5px"></i> <span class="network-name">scholar</span></a>
                        </li>

                        <li style="display:inline;">
                            <a href="https://github.com/Kuanhao-Chao" target="_blank" class="btn btn-default social-btn"><i
                                    class="fa fa-github" style="margin-right:5px"></i>  <span class="network-name">github</span></a>
                        </li>

                        <li style="display:inline;">
                            <a href="https://www.instagram.com/wesleyy.c" target="_blank" class="btn btn-default social-btn"><i
                                    class="fa fa-instagram" style="margin-right:5px"></i>  <span class="network-name">life</span></a>
                        </li>

                        <li style="display:inline;">
                            <a href="http://storage.kuanhaochao.com/CV.pdf" target="_blank" class="btn btn-default social-btn"><i
                                    class="fa fa-file-pdf-o" style="margin-right:5px"></i>  <span class="network-name">resume</span></a>
                        </li>

                        <li style="display:inline;">
                            <a href="mailto:kuanhao.chao@gmail.com" target="_blank" class="btn btn-default social-btn"><i
                                    class="fa fa-envelope-o" style="margin-right:5px"></i>  <span class="network-name">email</span></a>
                        </li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
      </div>

      <script>
        var typed = new Typed("#typed", {
            stringsElement: '#typed-strings'
        });

        VANTA.NET({
          el: "#particles-js",
          mouseControls: true,
          touchControls: true,
          gyroControls: false,
          minHeight: 200.00,
          minWidth: 200.00,
          scale: 1.00,
          scaleMobile: 1.00,
          color: '#1a3737',
          backgroundColor: '#1c1430',
          maxDistance: 22.00,
          spacing: 16.00
        })
      </script>
      <script>
        const {
          Zdog: { Illustration, TAU, Shape },
        } = window
        const MARGIN = 8
        const SPAN = 12
        const STRAND_STROKE = 2
        const BALL_PADDING = 5
        const BALL_DIAMETER = 5
        const STRANDS = 23
        const STRAND = 'silver'
        const COLORS = [
          'rgb(252, 254, 248)',
          'rgb(251, 164, 82)',
          'rgb(37, 175, 186)',
          'rgb(225, 7, 130)',
        ]
        const randomColor = () => COLORS[Math.floor(Math.random() * COLORS.length)]
        const YSTART = -(((STRANDS - 1) * MARGIN) / 2)

        const Scene = new Illustration({
          element: '#canvas_DNA',
          dragRotate: true,
        })

        const Strand = new Shape({
          stroke: STRAND_STROKE,
          color: STRAND,
          path: [
            {
              x: -SPAN,
            },
            {
              x: SPAN,
            },
          ],
        })
        const Ball = new Shape({
          color: randomColor(),
          stroke: BALL_DIAMETER * 2,
          translate: {
            x: -(BALL_DIAMETER + SPAN + BALL_PADDING),
          },
        })

        new Array(STRANDS).fill().map((s, i) => {
          const strand = Strand.copy({
            addTo: Scene,
            rotate: {
              y: (TAU / STRANDS) * i,
            },
            translate: {
              y: YSTART + i * MARGIN,
            },
          })
          Ball.copy({
            addTo: strand,
            color: randomColor(),
          })
          Ball.copy({
            addTo: strand,
            color: randomColor(),
            translate: {
              x: BALL_DIAMETER + SPAN + BALL_PADDING,
            },
          })
        })

        const update = () => {
          Scene.rotate.y -= 0.03
          Scene.updateRenderGraph()
          requestAnimationFrame(update)
        }

        update()
      </script>
    {% endif %}

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    {% if page.excerpt == "Home"%}
      <style>
      html, body {
        all: initial !important;
        width: 100% !important;
        height: 100% !important;
      }

      body {
        margin: 0px !important;
        padding: 0px !important;
        padding-bottom: 0px !important;
        color: #494e52;
        font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
        line-height: 1.5;
      }
      #main {
        all: initial !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
        margin-right: 0px !important;
        padding: 0px !important;
        clear: both;
        animation: intro 0.3s both;
        animation-delay: 0.35s;
      }

      article.page{
        all: initial !important;
        width: 100% !important;
        height: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
      }
      .page__inner-wrap {
        all: initial !important;
        width: 100% !important;
        height: 100% !important;
      }
      .page__content {
        all: initial !important;
        width: 100% !important;
        height: 100% !important;
      }
      </style>
    {% endif %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

    </body>
</html>
